* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Tahoma, sans-serif;
    height: 5000px;
}

.up {
    position: fixed;
    bottom: 50px;
    right: -100px;
    padding: 10px;
    z-index: 99999;
    background-color: #2196F3;
    color: white;
    font-size: 23px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}

.up.show {
    right: 60px;
}